.messages {
    padding-top: 20px;
}

/* TODO: copied from Home.module.css */
.content {
    overflow: auto;
}

.content>div {
    padding: 15px 30px;
}

.content:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}