.container {
  height: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.login {
  margin: auto;
  width: fit-content;
}

.messages {
  padding-top: 20px;
}

.content {
  overflow: auto;
}

.content>div {
  padding: 15px 30px;
}

.content:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

h1 {
  text-align: center;
  margin: 0;
  padding: 1em;
}