.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.container>h1 {
  align-self: center;
}

.container>.button {
  align-self: center;
}

.primary {
  color:  #247BA0;
}

.secondary {
  color: #CBD4C2;
}

.button {
  background-color: #247BA0;
  width: fit-content;
  display: inline-block;
  border-radius: 4px;
}
.button:hover {
  background-color: #196F94;
  cursor: pointer;
}

.buttonText {
  color: #FFFDFF;
  margin: 8px 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logo {
  color: #247BA0;
}

.logo:hover {
  text-decoration: none;
  color: #196F94;
}

a.primary {
  color: #B084CC;
}

.messages {
  padding-top: 20px;
}

.content {
  overflow: auto;
}

.content>div {
  padding: 15px 30px;
}

.content:hover {
  cursor: pointer;
  background-color: #F6F1F6;
}