body {
  margin: 0;
  font-family: "Marko One", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

:root {
  --primary: #247BA0;
  --primary-hover: #196F94;
  --link: #B084CC;
  --secondary: #CBD4C2;
  --background: #FFFDFF;
  --hover-color: #F6F1F6;
}

html {
  height: 100%;
  background-color: var(--background);
}

#root {
  height: 100%;
}

.primary {
  color:  var(--primary);
}

a.primary {
  color: var(--link);
}

.secondary {
  color: var(--secondary);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border: 1px solid var(--secondary);
  margin: 0;
}