.button {
    background-color: var(--primary);
    width: fit-content;
    display: inline-block;
    border-radius: 4px;
}

.button:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.inactive {
    background-color: var(--secondary);
    width: fit-content;
    display: inline-block;
    border-radius: 4px;
}

.inactive:hover {
    pointer-events: none;
    cursor: auto;
}
  
.buttonText {
    color: var(--background);
    margin: 8px 20px;

    /* no selection, as per https://stackoverflow.com/a/4407335/7371580 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  