.filler {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.linkList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}